
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadDefaultComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_HeaderDefaultComponentPartial")

    <main class="main">

        @await Component.InvokeAsync("_HeroDefaultComponentPartial")
         
        @await Component.InvokeAsync("_AboutDefaultComponentPartial")

        @await Component.InvokeAsync("_ServiceDefaultComponentPartial")
  
        @await Component.InvokeAsync("_MenuDefaultComponentPartial")
       
        @await Component.InvokeAsync("_TestimonialsDefaultComponentPartial")

       @await Component.InvokeAsync("_FoodEventsDefaultComponentPartial")
        
        @await Component.InvokeAsync("_ChefsDefaultComponentPartial")
      
        @await Component.InvokeAsync("_BookTableDefaultComponentPartial")
        
        @await Component.InvokeAsync("_ImagesDefaultComponentPartial")
        
        @await Component.InvokeAsync("_ContactDefaultComponentPartial")

    </main>

    @await Component.InvokeAsync("_FooterDefaultComponentPartial")

</body>

</html>
