
<nav class="navbar navbar-expand-lg main-navbar sticky">

    @await Component.InvokeAsync("_AdminNavbarLeftComponentPartial")

    <ul class="navbar-nav navbar-right">

        @await Component.InvokeAsync("_AdminMessageNavbarComponentPartial")

        @await Component.InvokeAsync("_AdminNotificationNavbarComponentPartial")

        @await Component.InvokeAsync("_AdminProfileNavbarComponentPartial")
    </ul>
</nav>
