<section id="chefs" class="chefs section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Şeflerimiz</h2>
        <p><span>Profesyonel</span> <span class="description-title">Mutfak Kadromuz<br></span></p>
    </div><div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="Baş Şef">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Baş Şef (Master Chef)</span>
                        <p>Mutfağımızın vizyoner lideri olan Walter, 20 yılı aşkın tecrübesiyle menümüzdeki her bir lezzetin ana mimarıdır.</p>
                    </div>
                </div>
            </div><div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="Pasta Şefi">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sarah Johnson</h4>
                        <span>Pasta Şefi (Patissier)</span>
                        <p>Tatlı ve hamur işleri konusundaki yaratıcılığıyla tanınan Sarah, yemek sonrası unutulmaz bir final sunmak için çalışıyor.</p>
                    </div>
                </div>
            </div><div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-info">
                        <div class="member-img">
                            <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="Mutfak Şefi">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <h4>William Anderson</h4>
                        <span>Mutfak Şefi (Cook)</span>
                        <p>Dünya mutfağına hakimiyetiyle bilinen William, geleneksel tarifleri modern dokunuşlarla harmanlayarak tabağınıza getiriyor.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>